:root {
--color-terminal:#292b36;
--borde-redondo: 6px;

}
body {
    background-color: rgb(67, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(242, 247, 247);
    height: 100vh;
    

}

main {
    padding: 75px;
    box-shadow: 8px 8px 35px 8px rgb(0 0 0 / 75%);
    border-radius: var(--borde-redondo);
}

h1 {
    margin: 0;
}
#botonCifrar {
    background: #3f4040;
    color: aliceblue;
    padding: 10px 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 15px;
    top: 10px;


}
#botonDescifrar {
    background: #3b3d3d;
    color: aliceblue;
    padding: 10px 10px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 15px;
    top: 10px;
}


#input-cifrar, #resultado {
    background-color: var(--color-terminal);
    width: -webkit-fill-available;
}
#input-cifrar {
    margin: 10px 0 0;
    padding: 10px;
    color: aliceblue;
    border-top-left-radius: var(--borde-redondo);
    border-top-right-radius: var(--borde-redondo);
}
#resultado {
    height: 20px;
    color: chartreuse;
    padding: 0 10px 10px;
    border-bottom-left-radius: var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);
}

.deslizante {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 20px;
    text-align: center;
    align-items: center;

}

#rango {
    border-radius: var(--borde-redondo);
    margin: 0;
    padding: 0 5px;
    height: 20px;

}
